PATH_add stx/home/ohmrun.eu/bin
export PRJ_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

dotenv $HOME/.config/ohmrun.env
source_env $OHMRUN_WORKSPACE_PATH

dotenv $HOME/.config/bertha.env
source_env $BERTHA_PATH

dotenv .env.machine
#env_vars_required